* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 75px;
}
header .top {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
header .top .logo {
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
}
header .top .logo img {
  width: 140px;
  height: 50px;
}
header .top ul {
  float: left;
  width: 550px;
  height: 100%;
}
header .top ul li {
  float: left;
  font-size: 12px;
  list-style: none;
  width: 90px;
  height: 40px;
  margin-left: 20px;
  line-height: 40px;
  margin-top: 30px;
  text-align: center;
}
header .top ul li a {
  color: #353541;
  text-decoration: none;
}
header .top ul .one a {
  text-decoration: none;
  color: #ff8b50;
}
header .top .right {
  float: right;
  width: 120px;
  height: 100%;
}
header .top .right img {
  float: left;
  width: 24px;
  height: 26px;
  margin-top: 30px;
}
header .top .right .reg {
  line-height: 30px;
  float: right;
  text-align: center;
  color: #fa553f;
  margin-top: 20px;
  display: block;
  width: 50px;
  height: 30px;
  border: 1px solid #fa553f;
}
.content {
  width: 100%;
}
.content .tiyan {
  line-height: 140px;
  width: 1000px;
  height: 140px;
  font-size: 30px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}
.content .nav {
  height: 50px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  word-spacing: 50px;
}
.content .nav > span {
  color: #7A7879;
}
.content .nav .red {
  display: inline-block;
  color: #FAAE97;
  border-bottom: 3px solid #FE6442;
  width: 100px;
  padding-bottom: 10px;
}
.content .box {
  width: 100%;
  background: #F7F7F7;
  height: auto;
}
.content .box .body {
  width: 1000px;
  height: 2050px;
  margin: 0 auto;
}
.content .box .body .left {
  float: left;
  width: 640px;
  height: 1415px;
}
.content .box .body .left .air {
  position: relative;
  width: 640px;
  height: 377px;
  margin-top: 20px;
}
.content .box .body .left .air .img {
  width: 640px;
  height: 377px;
}
.content .box .body .left .air .lucency {
  position: absolute;
  width: 640px;
  height: 100px;
  background-color: rgba(242, 239, 245, 0.9);
  bottom: 0px;
}
.content .box .body .left .air .lucency > span {
  margin-left: 10px;
  float: left;
  color: #7A7879;
}
.content .box .body .left .air .lucency .bottom {
  float: left;
  width: 640px;
  margin-top: 40px;
}
.content .box .body .left .air .lucency .bottom img,
.content .box .body .left .air .lucency .bottom span {
  float: left;
  font-size: 10px;
  margin-right: 5px;
}
.content .box .body .left .air .lucency .bottom .ss {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  color: #7A7879;
}
.content .box .body .left .air .lucency .bottom .ss a {
  color: #f16d58;
}
.content .box .body .left .air .lucency .bottom .zan {
  float: right;
  color: #7A7879;
  margin-right: 10px;
}
.content .box .body .left .air .lucency .tx {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  float: left;
  background: url(../img/tx.jpg) no-repeat;
  border-radius: 50%;
}
.content .box .body .left .click {
  width: 640px;
  height: 50px;
  border: 1px solid #d9d9d9;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  color: #7A7879;
  border-radius: 5px;
  margin-bottom: 20px;
}
.content .box .body .left .chakan {
  width: 640px;
  height: 50px;
  text-align: center;
}
.content .box .body .left .chakan img {
  float: left;
  margin-top: 20px;
  margin-left: 250px;
}
.content .box .body .left .chakan > span {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}
.content .box .body .left .chakan > span a {
  color: #f16d58;
}
.content .box .body .right {
  width: 275px;
  height: 700px ;
  float: left;
  margin-left: 20px;
}
.content .box .body .right > img {
  margin-top: 20px;
}
.content .box .body .right .jiguo {
  margin-top: 20px;
  width: 275px;
  height: 20px;
  border-left: 4px solid #FD5645;
  padding-left: 20px;
}
.content .box .body .right li {
  margin-top: 10px;
}
.content .box .body .right .lis {
  font-size: 12px;
  color: #7A7879;
}
.content .box .body .right .jiguo_ {
  margin-top: 80px;
  width: 275px;
  height: 20px;
  border-left: 4px solid #FD5645;
  padding-left: 20px;
}
.content .box .body .right .guanz {
  width: 280px;
  height: 140px;
}
.content .box .body .right .guanz .code {
  margin-top: 20px;
}
.content .box .body .right .guanz .code .shaom {
  float: left;
  width: 150px;
  height: 103px;
  background: #ebebeb;
  text-align: center;
}
.content .box .body .right .guanz .code .shaom p {
  margin-top: 5px;
}
.content .box .body .right .guanz .code .shaom .sp {
  margin-top: 30px ;
  color: #7A7879;
}
.content .box .body .right .guanz .code > img {
  float: left;
  width: 100px;
  height: 103px;
}
footer {
  width: 100%;
  height: 360px;
  background-color: #505050;
}
footer .cen_ {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
footer .cen_ .top_ {
  width: 100%;
  height: 310px;
}
footer .cen_ .top_ .le_ {
  margin-left: 5px;
  float: left;
  width: 180px;
  height: 100%;
  margin-top: 40px;
}
footer .cen_ .top_ .le_ img {
  width: 180px;
  height: 180px;
}
footer .cen_ .top_ .le_1 {
  float: left;
  width: 180px;
  height: 100%;
  padding-left: 38px;
  padding-top: 40px;
  box-sizing: border-box;
  color: #76726f;
}
footer .cen_ .top_ .le_1 p {
  display: block;
  font-size: 12px;
  width: 130px;
  height: 40px;
  margin-top: 25px;
}
footer .cen_ .top_ .le_1 span {
  display: block;
  font-size: 12px;
  width: 139px;
  height: 40px;
  margin-top: 20px;
}
footer .cen_ .top_ .dl1 {
  width: 130px;
  height: 100%;
  float: left;
}
footer .cen_ .top_ .dl1 dt {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}
footer .cen_ .top_ .dl1 dt a {
  color: #fff;
  text-decoration: none;
}
footer .cen_ .top_ .dl1 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .top_ .dl2 {
  width: 70px;
  height: 100%;
  float: left;
}
footer .cen_ .top_ .dl2 dt {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}
footer .cen_ .top_ .dl2 dt a {
  color: #fff;
  text-decoration: none;
}
footer .cen_ .top_ .dl2 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .top_ .dl3 {
  width: 80px;
  height: 100%;
  float: left;
  padding-top: 90px;
  box-sizing: border-box;
}
footer .cen_ .top_ .dl3 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .top_ .dl4 {
  width: 155px;
  height: 100%;
  float: left;
}
footer .cen_ .top_ .dl4 dt {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}
footer .cen_ .top_ .dl4 dt a {
  color: #fff;
  text-decoration: none;
}
footer .cen_ .top_ .dl4 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .bot_ {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #76726f;
}
