@charset "uf-8";
html,body,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,fieldset,legend,form,img,input{
	margin: 0;
	padding: 0;
}
clearfix:after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	height: 0;
   visibility: hidden;
}
button {
	margin: 0;
	padding: 0;
	outline: none;
	border-radius: 0;
	background-color: transparent;
	line-height: inherit;
	width: max-content;
	border: none;
  }
a{
	text-decoration: none;
	color: #000;
}
ul,ol,li{
	list-style:none;
}
img{
	display: block;
	border: 0;
}
i,em,b,strong{
	font-style: normal;
	font-weight: normal;
}
.clear:after{
	content: "";display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;
}
