* {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  clear: both;
  content: '';
  font-size: 0;
  height: 0;
  visibility: hidden;
  display: block;
}
header {
  width: 100%;
  height: 75px;
  border-bottom: 2px solid #cecece;
}
header .top {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
header .top .logo {
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
}
header .top .logo img {
  width: 140px;
  height: 50px;
}
header .top ul {
  float: left;
  width: 550px;
  height: 100%;
}
header .top ul li {
  float: left;
  font-size: 12px;
  list-style: none;
  width: 90px;
  height: 40px;
  margin-left: 20px;
  line-height: 40px;
  margin-top: 30px;
  text-align: center;
}
header .top ul li a {
  color: #353541;
  text-decoration: none;
}
header .top ul .one a {
  text-decoration: none;
  color: #ff8b50;
}
header .top .right {
  float: right;
  width: 120px;
  height: 100%;
}
header .top .right img {
  float: left;
  width: 24px;
  height: 26px;
  margin-top: 30px;
}
header .top .right .reg {
  line-height: 30px;
  float: right;
  text-align: center;
  color: #fa553f;
  margin-top: 20px;
  display: block;
  width: 50px;
  height: 30px;
  border: 1px solid #fa553f;
}
section {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}
section .box {
  width: 1000px;
  height: auto;
  margin: 0 auto;
}
section .box p {
  width: 100%;
  color: #a39fad;
  font-size: 18px;
  display: block;
  height: 50px;
  line-height: 50px;
}
section .box .all_ {
  width: 100%;
  height: auto;
}
section .box .all_ .le {
  width: 700px;
  float: left;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}
section .box .all_ .le .top {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #dfdfdf;
  border: #ececec 1px solid;
}
section .box .all_ .le .top h1 {
  color: #44474e;
  display: block;
  margin-left: 25px;
  margin-top: 35px;
}
section .box .all_ .le .top ul {
  width: 100%;
  height: 54px;
  line-height: 54px;
}
section .box .all_ .le .top ul li {
  float: left;
  border-radius: 50%;
  list-style: none;
  color: #a39fad;
  margin-left: 20px;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  background: url(../img/tx.jpg) no-repeat;
}
section .box .all_ .le .top ul span {
  margin-left: 10px;
  color: #a39fad;
}
section .box .all_ .le .top ul .num {
  float: right;
  color: #a39fad;
  margin-right: 30px;
}
section .box .all_ .le .imgs {
  width: 100%;
  height: auto;
}
section .box .all_ .le .imgs img {
  width: 660px;
  margin: 10px auto;
  margin-left: 20px;
}
section .box .all_ .le h3 {
  text-align: center;
  margin: 20px;
}
section .box .all_ .le .p {
  margin: 20px 20px;
  line-height: 23px;
}
section .box .all_ .le .lamy {
  line-height: 23px;
  margin-left: 20px;
}
section .box .all_ .le h4 {
  margin: 20px;
}
section .box .all_ .le ul {
  margin-left: 20px;
  margin-top: 50px;
}
section .box .all_ .le ul li {
  line-height: 23px;
  list-style: none;
  color: #a39fad;
}
section .box .all_ .ri {
  float: right;
  background-color: #fff;
  width: 270px;
  height: 110px;
  border-radius: 10px;
  border: #ececec 1px solid;
}
section .box .all_ .ri li {
  list-style: none;
  width: 133px;
  height: 100%;
  float: left;
  text-align: center;
  border: #ececec 1px solid;
}
section .box .all_ .ri li img {
  margin-top: 20px;
}
section .box .all_ .ri li .des_share {
  display: none;
}
footer {
  width: 100%;
  height: 360px;
  background-color: #505050;
  position: relative;
}
footer .cen_ {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
footer .cen_ .top_ {
  width: 100%;
  height: 310px;
}
footer .cen_ .top_ .le_ {
  margin-left: 5px;
  float: left;
  width: 180px;
  height: 100%;
  margin-top: 40px;
}
footer .cen_ .top_ .le_ img {
  width: 180px;
  height: 180px;
}
footer .cen_ .top_ .le_1 {
  float: left;
  width: 180px;
  height: 100%;
  padding-left: 38px;
  padding-top: 40px;
  box-sizing: border-box;
  color: #76726f;
}
footer .cen_ .top_ .le_1 p {
  display: block;
  font-size: 12px;
  width: 130px;
  height: 40px;
  margin-top: 25px;
}
footer .cen_ .top_ .le_1 span {
  display: block;
  font-size: 12px;
  width: 139px;
  height: 40px;
  margin-top: 20px;
}
footer .cen_ .top_ .dl1 {
  width: 130px;
  height: 100%;
  float: left;
}
footer .cen_ .top_ .dl1 dt {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}
footer .cen_ .top_ .dl1 dt a {
  color: #fff;
  text-decoration: none;
}
footer .cen_ .top_ .dl1 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .top_ .dl2 {
  width: 70px;
  height: 100%;
  float: left;
}
footer .cen_ .top_ .dl2 dt {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}
footer .cen_ .top_ .dl2 dt a {
  color: #fff;
  text-decoration: none;
}
footer .cen_ .top_ .dl2 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .top_ .dl3 {
  width: 80px;
  height: 100%;
  float: left;
  padding-top: 90px;
  box-sizing: border-box;
}
footer .cen_ .top_ .dl3 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .top_ .dl4 {
  width: 155px;
  height: 100%;
  float: left;
}
footer .cen_ .top_ .dl4 dt {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}
footer .cen_ .top_ .dl4 dt a {
  color: #fff;
  text-decoration: none;
}
footer .cen_ .top_ .dl4 dd a {
  text-decoration: none;
  font-size: 12px;
  color: #76726f;
}
footer .cen_ .click_ {
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  bottom: 40px;
  right: 30px;
}
footer .cen_ .bot_ {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #76726f;
}
